@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap');



/* Text-shadow was used to create a border around text source for values was https://stackoverflow.com/questions/13426875/text-border-using-css-border-around-text */
h1 {
    font-family: 'Shrikhand', cursive;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
                1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    font-size: 50px;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight:600;
}

.begin-game {
    text-align: center;
}

.start-btn {
    padding: 10px;
    margin: 1%;
}

.rules-btn {
    padding: 10px;
    margin: 1%;
}

.game-container {
    width: 50%;
    height: 300px;
    padding: 10px;
    margin: auto;
    background-color: beige;
    border: solid;
}

.question-area {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    margin: 2px;
}

.options {
    padding: 4px;
    margin: 4px;
}

.rules-area {
    display: none;
}
