@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap");

body {
  background-color: #0C0F0A;
}

/* Text-shadow was used to create a border around text source for values was https://stackoverflow.com/questions/13426875/text-border-using-css-border-around-text */
h1 {
  font-family: "Shrikhand", cursive;
  color: #E75A7C;
  text-shadow: 2px 0 #FFF, -2px 0 #FFF, 0 2px #FFF, 0 -2px #FFF, 1px 1px #FFF,
    -1px -1px #FFF, 1px -1px #FFF, -1px 1px #FFF;
  font-size: 50px;
  text-align: center;
}
/* Main styling for site */
h2 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

.rules-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: solid 2px #2D3047;
  border-radius: 50%;
  background-color: #FFF;
  color: #2D3047;
}

.quiz-rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

#modal-content li {
  list-style-type: none;
  margin: 5px;
  line-height: 25px;
}

.quiz-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #EEE5E9;
  font-weight: 700;
}

.game-container {
  width: 50%;
  height: 420px;
  padding: 10px;
  margin: auto;
  border: solid 2px #E75A7C;
  box-shadow: 0 4px 8px 0 rgba(231, 90, 124, 0.2),
    0 6px 20px 0 rgba(231, 90, 124, 0.19),
    inset 0 6px 20px 0 rgba(231, 90, 124, 0.19),
    0 4px 8px 0 rgba(231, 90, 124, 0.2);
  border-radius: 10px;
}

.question-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  margin: 2px;
  font-family: "Roboto", sans-serif;
  color: #EEE5E9;
  font-weight: 600;
}

.question-content {
  display: flex;
  height: 10px;
  margin: 5px;
  padding: 0;
}

.answers {
  margin: auto;
  padding: 10px;
}
/* The answer buttons were given their own class to be able target them separately when sizing down screen and aligning elements */
.answer-btn {
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  width: 320px;
  margin: 20px;
  background-color: #E75A7C;
  border: none;
  padding: 12px 28px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Roboto", sans-serif;
  color: #EEE5E9;
  font-weight: 700;
}

.answer-btn:hover {
  box-shadow: 0 4px 8px 0 rgba(231, 90, 124, 0.2),
    0 6px 20px 0 rgba(231, 90, 124, 0.19);
}

.correct-answer {
  background-color: #76C46C;
  opacity: 0.6;
}

.wrong-answer {
  background-color: #D63A3A;
  opacity: 0.6;
}

.quiz-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 50px;
  height: 50px;
  border: solid 5px #E75A7C;
  border-radius: 50%;
  background-color: rgba(12, 15, 10, 0.4);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #EEE5E9;
}

.btn {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 150px;
  margin: auto;
  background-color: #E75A7C;
  border: none;
  padding: 15px 20px;
  text-align: center;
  font-size: 14px;
  border-radius: 8px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Roboto", sans-serif;
  color: #EEE5E9;
  font-weight: 700;
  font-size: 1.2rem;
}

/* Separate class was made for next/finish button as questions/answers push it down on smaller screen sizes */
.next-finish-btn {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 150px;
  margin: auto;
  background-color: #E75A7C;
  border: none;
  padding: 12px 28px;
  text-align: center;
  font-size: 14px;
  border-radius: 8px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Roboto", sans-serif;
  color: #EEE5E9;
  font-weight: 700;
  font-size: 14px;
}

.btn:hover {
  box-shadow: 0 4px 8px 0 rgba(231, 90, 124, 0.2),
    0 6px 20px 0 rgba(231, 90, 124, 0.19);
}

.hide {
  display: none;
}

.show-final-score {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #EEE5E9;
  font-weight: 700;
}

/* Styling for rules modal */
.rules-modal {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: #EEE5E9;
  margin: 15% auto;
  padding: 20px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  width: 50%;
  color: #0C0F0A;
}

.close-btn {
  display: flex;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h1.error-page {
  display: flex;
  justify-content: center;
  margin: 5rem auto;
  width: 13%;
  font-family: "Roboto", sans-serif;
  font-size: 120px;
  font-weight: 700;
  text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #E60073, 0 0 40px #E60073,
    0 0 50px #E60073, 0 0 60px #E60073, 0 0 70px #E60073;
  color: #FFF;
  animation: flicker 1.5s infinite alternate;
  border: 0.2rem solid #FFF;
  box-shadow: 0 0 0.2rem #FFF, 0 0 0.2rem #FFF, 0 0 2rem #E60073,
    0 0 0.8rem #E60073, 0 0 2.8rem #E60073, inset 0 0 1.3rem #E60073;
  border-radius: 0.2rem;
  padding: 10px;
}

hr {
  display: none;
}

p.error-page {
  display: flex;
  margin: 30px auto;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #E60073, 0 0 40px #E60073,
    0 0 50px #E60073, 0 0 60px #E60073, 0 0 70px #E60073;
  color: #FFF;
}

/* Flickering animation https://css-tricks.com/how-to-create-neon-text-with-css/ */

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #FFF, 0 0 11px #FFF, 0 0 19px #FFF, 0 0 40px #E60073,
      0 0 80px #E60073, 0 0 90px #E60073, 0 0 100px #E60073, 0 0 150px #E60073;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.coin {
  color: #E60073;
  padding: 5px;
  font-size: 40px;
}

a {
  display: flex;
  padding: 5px;
  margin: 30px auto;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #E60073, 0 0 40px #E60073,
    0 0 50px #E60073, 0 0 60px #E60073, 0 0 70px #E60073;
  color: #FFF;
}

a:link {
  text-decoration: none;
  color: #FFF;
}

a:visited {
  color: #FFF;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .game-container {
    width: 85%;
  }

  h1 {
    font-size: 70px;
  }

  p {
    font-size: 2rem;
  }

  .question-content {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
  }

  .answers {
    margin-top: 5px;
  }

  .rules-modal {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .modal-content {
    width: 80%;
    margin: 20% auto;
  }

  .rules-info {
    margin: 30px 10px;
    padding: 2px;
  }
}

@media screen and (max-width: 768px) {
  .game-container {
    width: 75%;
  }

  .rules-modal {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .modal-content {
    width: 70%;
    margin: 30% auto;
  }

  .rules-info {
    margin: 30px 10px;
    padding: 2px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 40px;
  }

  .game-container {
    width: 85%;
  }

  p {
    font-size: 1.1rem;
    line-height: 3rem;
    margin-top: 25%;
  }

  .quiz-timer {
    height: 30px;
    width: 30px;
    font-size: 16px;
  }

  .question-content {
    display: flex;
    height: 10px;
    margin: 5px;
    font-size: 14px;
    padding: 0;
  }

  .question-container {
    padding: 5px;
    margin: 2px;
  }

  .answers {
    margin: 45px auto;
  }

  .answer-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 40px;
    width: 240px;
    margin: 14px;
    padding: 12px 18px;
    text-align: center;
    font-size: 16px;
  }

  .next-finish-btn {
    margin: -2.5rem auto;
  }

  .rules-modal {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .modal-content {
    width: 70%;
    margin: 30% auto;
  }

  .rules-info {
    margin: 30px 10px;
    padding: 2px;
  }
}

@media screen and (max-width: 414px) {
  h1 {
    font-size: 40px;
  }

  p {
    font-size: 1.1rem;
    line-height: 3rem;
    margin-top: 25%;
  }

  .game-container {
    width: 85%;
    font-size: 1.1rem;
  }

  .quiz-timer {
    height: 30px;
    width: 30px;
    font-size: 16px;
  }

  .question-content {
    display: flex;
    height: 10px;
    margin: 5px;
    font-size: 14px;
    padding: 0;
  }

  .question-container {
    padding: 5px;
    margin: 2px;
  }

  .answers {
    margin: 50px auto;
  }

  .answer-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 40px;
    width: 240px;
    margin: 14px;
    padding: 12px 18px;
    text-align: center;
    font-size: 16px;
  }

  .next-finish-btn {
    margin: -50px auto;
  }

  .rules-modal {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .modal-content {
    width: 70%;
    margin: 30% auto;
  }

  .rules-info {
    margin: 30px 10px;
    padding: 2px;
  }
}

@media screen and (max-width: 384px) {
  h1 {
    font-size: 40px;
  }

  p {
    font-size: 1.1rem;
    line-height: 3rem;
    margin-top: 25%;
  }

  .game-container {
    width: 85%;
    font-size: 1.1rem;
  }

  .quiz-timer {
    height: 30px;
    width: 30px;
    font-size: 16px;
  }

  .question-content {
    display: flex;
    height: 10px;
    margin: 5px;
    font-size: 14px;
    padding: no0ne;
  }

  .question-container {
    padding: 5px;
    margin: 2px;
  }

  .answers {
    margin: 50px auto;
  }

  .answer-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 40px;
    width: 240px;
    margin: 14px;
    padding: 12px 18px;
    text-align: center;
    font-size: 16px;
  }

  .next-finish-btn {
    margin: -50px auto;
  }

  .rules-modal {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .modal-content {
    width: 70%;
    margin: 30% auto;
  }

  .rules-info {
    margin: 30px 10px;
    padding: 2px;
  }
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 40px;
  }

  p {
    font-size: 1.1rem;
    line-height: 3rem;
    margin-top: 25%;
  }

  .game-container {
    width: 85%;
    font-size: 1.1rem;
  }

  .quiz-timer {
    height: 30px;
    width: 30px;
    font-size: 16px;
  }

  .question-content {
    display: flex;
    height: 10px;
    margin: 5px;
    font-size: 14px;
    padding: 0;
  }

  .question-container {
    padding: 5px;
    margin: 2px;
  }

  .answers {
    margin: 50px auto;
  }

  .answer-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 40px;
    width: 240px;
    margin: 14px;
    padding: 12px 18px;
    text-align: center;
    font-size: 16px;
  }

  .next-finish-btn {
    margin: -50px auto;
  }

  .rules-modal {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .modal-content {
    width: 70%;
    margin: 30% auto;
  }

  .rules-info {
    margin: 30px 10px;
    padding: 2px;
  }

  @media screen and (max-width: 320px) {
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }

    .answer-btn {
      width: 220px;
      margin: 10px auto;
    }

    .rules-modal {
      width: 100%;
      height: 100%;
      overflow: auto;
    }

    .modal-content {
      width: 70%;
      margin: 30% auto;
    }

    .rules-info {
      margin: 30px 10px;
      padding: 2px;
    }
  }
}
